/*********
 *GENERAL*
 *********/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: green;
}



/******
 *head*
 ******/

#head-title {
    height: 80px;
}


#head-title > h1 {
    padding-top: 20px;
    text-align: center;
    color: rgb(15, 9, 141);
}






/******
 *MAIN*
 ******/

#container-main {
    display: flex;
    max-height: calc(100vh - 80px);
    overflow: hidden;
    overflow-y: auto;
}

#main-dati-acqusition, #main-info-show {
    height: 200px;
    width: 800px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}   

#main-dati-acqusition {
    background-color: bisque;
}

#main-info-show {
    background-color: aquamarine;
}


    /******
     *dati*
     ******/

    #main-dati-acqusition > #input-main {
        display: flex;
        justify-content: space-between;
    }

    #input-main input {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 16px;
    }

    #main-dati-acqusition > #button-container {
        text-align: center;
    }
    
    #main-dati-acqusition button {
        margin: 20px 50px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
    }




    /******
     *info*
     ******/

    #main-info-show > #output-main {
        display: flex;
        justify-content: space-between;
    }

    #output-main {
        background-color: white;
        border-radius: 15px;
    }
    
    #output-main > div {
        padding: 20px 20px;
        border-radius: 15px 0px 0px 15px;
    }

    #passenger-ticket {
        background-color: rgb(102, 25, 25);
        color: white;
    }

    #output-main h2 {
        margin-bottom: 10px;
    }

    #output-main > div > span {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
    }

    #button-output {
        text-align: center;
    }
    
    #button-output > button {
        margin-top: 20px;
        padding: 10px 40px;
        font-size: 18px;
    }



    /*******
     *mappa*
     *******/

     #map-container  {
        padding: 20px 100px 0px 100px;
        width: 90%;
        overflow: auto;
    }
    
    #map-container img {
        width: 800px;
        object-fit: contain;
     }



    /****************
     *small view map*
     ****************/

    #small-view-button {
        display: none;
    }
    
    #small-view-button > button {
        padding: 10px 60px;
        font-size: large;
        font-weight: 700;
        background-color: red;
        border: none;
        border-radius: 15px;
    }



